<app-menu-bar></app-menu-bar>
<router-outlet></router-outlet>
<footer class="footer">
  <div class="row container-fluid">
   <div class="col-3">
     <div class="row">
       <img src="assets/Shubh-Mangal-Zyada-Saavdhan-Arey-Pyaar-Kar-Le-Song-Ayushmann-Khurrana-354x199.jpg" class="footer_song col-2">
       <div class="col-6">
         <div class="row song_name">
           Enna Sona
         </div>
         <span class="song_description">
          this is description
         </span>
       </div>
     </div>
   </div>
   <div class="col-9">
    <div class="slidecontainer">
      <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
    </div>
    sdfskdfh sjdfhkjasdh gksjghksadhgk kjsghkas
  </div>
  </div>
</footer>
