.card-margin {
  margin:25px 20px 0px 16px;
  width: 12rem;
}
.icons {
  position: absolute;
  padding: 34px 55px;
}
.icon_size {
  font-size: 40px;
  -webkit-text-fill-color: #ffffff;
}
.mr-10 {
  margin-right: 10px;
}
