<div class="container">
  <div class="row" *ngFor="let song of [1,2,3,4,5,6,7,8];">
    <div class="card card-margin" *ngFor="let p of [1,2,3,4,5];">
      <img src="assets/Shubh-Mangal-Zyada-Saavdhan-Arey-Pyaar-Kar-Le-Song-Ayushmann-Khurrana-354x199.jpg" class="card-img-top" alt="song name">
      <div class="icons">
        <i class="fa fa-play-circle icon_size mr-10" aria-hidden="true"></i>
        <i class="fa fa-plus-circle icon_size" aria-hidden="true"></i>
      </div>
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>

