.card-margin {
  margin:25px 19px 0px 16px;
  width: 12rem;
}
.icons {
  position: absolute;
  padding: 34px 55px;
}
.icon_size {
  font-size: 40px;
  -webkit-text-fill-color: #ffffff;
}
.mr-10 {
  margin-right: 10px;
}
/* width */
::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #563D7C;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.container_height {
  position: fixed;
  margin-left: 13%;
  max-height: 600px;
  overflow-y: auto;
}
